pylint==3.3.6
pytest==8.3.5
pytest-cov==6.1.1
black==25.1.0
wikipedia==1.4.0
ipython==8.18.1
click==8.1.8
fire==0.7.0
fastapi==0.115.12
uvicorn==0.34.0
pydantic==2.11.3
geopy==2.4.1
httpx==0.28.1
yake==0.4.8 #git+https://github.com/LIAAD/yake